<a href="https://colab.research.google.com/github/duttdev489/Edureka-DS-with-Python/blob/main/Edureka_Sequences_and_File_Operations_CaseStudy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What is the output of the following code?

nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

In [ ]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

2. What will be the output?
d = {"john":40, "peter":45}
print(list(d.keys()))

In [ ]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

3.
A website requires a user to input username and password to register. Write a program
to check the validity of password given by user. Following are the criteria for checking
password:

1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

In [77]:
pwd =  input('''Enter valid password :
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

''')
import re
def validatePWD(pwd):
  flag= False
  length=False
  specialChar=False
  lowerCase= False
  upperCase=False
  digits=False

  if len(pwd) >=6 and len(pwd) <=12:
    length = True
  else:
    print("Invalid length")
  for  char  in pwd:
    if  char  in ['$','#','@'] :
      specialChar = True
  if not(specialChar):
    print("No special character")

    
  if re.findall("[a-z]",pwd) :
    lowerCase=True
  else:
    print("No Lower Case Letter")
  if re.findall("[A-Z]",pwd) :
    upperCase=True
  else:
    print("No Upper Case Letter")
  if re.findall("[0-9]",pwd) :
    digits=True
  else:
    print("No digits")
  if length ==True and specialChar == True and lowerCase ==True and upperCase== True and digits ==True:
    flag= True
  return flag

if validatePWD(pwd):
  print("Valid password")
else:
  print('Invalid password')

Enter valid password :
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

weLcome12#
Valid password

4.Write a for loop that prints all elements of a list and their position in the list.

a = [4,7,3,2,5,9]

In [ ]:
a = [4,7,3,2,5,9]
for ind,val in enumerate(a):
  print(ind,val)

0 4
1 7
2 3
3 2
4 5
5 9

5.Please write a program which accepts a string from console and print the
characters that have even indexes 

Example: If the following string is given as input to the program:
 H1e2l3l4o5w6o7r8l9d
 
 Then, the output of the program should be:
 Helloworld

In [ ]:
strNew= input("Enetr a string ")

for i in range(0, len(strNew)):
  if i%2 ==0 :
    print(strNew[i],end= "")

Enetr a string H1e2l3l4o5w6o7r8l9d
Helloworld

6.Please write a program which accepts a string from console and print it in reverse order.

Example: If the following string is given as input to the program:
 rise to vote sir

 Then, the output of the program should be:
 
 ris etov ot esir

In [ ]:
strNew = input( "String to Reverse")

print (strNew[::-1])

String to Reverserise to vote sir
ris etov ot esir

7. Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:
 abcdefgabc

 Then, the output of the program should be:
 
a,2

c,2

b,2

e,1

d,1

g,1

f,1

In [ ]:
strNew =input("String ")
strSet = { i  for i in strNew}
for i  in strSet:
  print(f'{i},{strNew.count(i)}')

String abcdefgabc
b,2
c,2
a,2
f,1
e,1
d,1
g,1

8. With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a
program to make a list whose elements are intersection of the above given lists.

In [ ]:
l1 =  list (input( "List1 ").split(',')) #list(input( "List1").split())
#\l1 =[l1]
l2 =  list (input( "List1 ").split(',')) #list(input( "List2").split())
#l2 = [l2]

print (f"Element of {l1}")
print (f"Element of {l2}")

l3 =[]
for ele1 in l1:
  for ele2 in l2:
    if ele1 == ele2:
      l3.append(ele1)
print(f"the intersection of L1 and L2 is {l3}")

List1 1,3,6,78,35,55
List1 12,24,35,24,88,120,155
Element of ['1', '3', '6', '78', '35', '55']
Element of ['12', '24', '35', '24', '88', '120', '155']
the intersection of L1 and L2 is ['35']

9. By using list comprehension, please write a program to print the list after removing the value 24 in 

[12,24,35,24,88,120,155].

In [ ]:
l1=  [12,24,35,24,88,120,155]

print ( [i for i  in l1 if i!=24]) #using list comprehension

[12, 35, 88, 120, 155]

10.By using list comprehension, please write a program to print the list after removing 

the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [33]:
newList= [12,24,35,70,88,120,155]
[  newList.remove(k)  for k in [ newList[i]  for  i in [0,4,5]] ]
print(newList)

[24, 35, 70, 155]

11.By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [35]:
li1= [12,24,35,70,88,120,155]
print([ i for i in li1 if i% 7==0 and  i%5==0])

[35, 70]

12.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0).

Example:If the following n is given as input to the program:5
Then, the output of the program should be:3.55

In [41]:
raw = int(input("Enter a number "))
res=0
for i in range (1,raw+1):
  num=i
  den=i+1
  res+= (num/den)
print(round(res,2))

Enter a number 5
3.55